* {
    margin: 0;
}

html, body {
    height: 100%;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

p {
    margin: .5em 0 0 .5em;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a493c0;
    padding: 10px;
}